
ColumnLimit: 80

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4

AlwaysBreakTemplateDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
Cpp11BracedListStyle: true

PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignTrailingComments: false

SpaceAfterCStyleCast: true
