[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.4
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
